# OSX
.DS_Store

# Jekyll build
_site/
.jekyll-metadata
.sass-cache/
.jekyll-metadata
# For jekyll v.4.0 update
#.jekyll-cache 

# Site build
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
Gemfile.lock
node_modules
package-lock.json
.ruby-version
package-lock.json
assets/uncompress
.temp
.temp2

# Webstorm
.idea/

# Others
about/version.md
*.bak
*.old
*.new
*.code-workspace
topic.html
