# Website info
url             : https://blog.purwadi.web.id
baseurl         : / # edit baseurl to simply '/' if using as your personal page (instead of a project page)
CNAME           : blog.purwadi.web.id

title           : Sigit Purwadi's Blog
description     : You're Nobody Until You're Talked About
version         : v2.1
cover           : assets/images/blog-cover.jpg
#logo           : assets/images/logo/blog-logos.png
logo_white      : assets/images/icons/icon-white.svg
logo_dark       : assets/images/icons/icon-dark.svg
favicon         : assets/images/icons/favicon-192x.png
# production_url: https://blog.purwadi.web.id/v2/
# source_url    : https://github.com/spurwadi2/v2/

timezone        : Asia/Jakarta

# Social media and publication on site-nav.html
twitter         : S_Purwadi
facebook        : SigitOfficial
instagram       : S_Purwadi
github          : spurwadi
linkedin        : SPurwadi
youtube         : spurwadi
google_plus     : https://plus.google.com/111158361004969556148

# Social media meta tag and OpenGraph
twitter_card_images: twitter-images-280x150.jpg
og_images       : OG-images-1200x1200.jpg
facebook_app_id : 106994376015650
facebook_user_id: 100000333350212
facebook_page_id: 309668355825706

# Search Engine Verification & Analytics
google_analytics: UA-61535015-2
google_verify   : oEfgtpe8RoaSXmpUaa-vPjD2D-l6jv5uFiJB7mFOyFA
bing_verify     : 732F0388A96A6CD82BBC5006CF4E2A49

# Read Time is a calculator tp provide post read-time based on word count. Usage is recommended.
read-time       : true
wpm             : 200 # Specify the average Words per minute. If not defined, 180 will be used

# Site navigation bar settings
navigation      : True # show the navbar links
subscribers     : True # you need to connect an external service for this to work, if 'True' the submit button is disabled for now, but you can change that by editing `_includes/subscribe-form.html`

# Disqus comment section
disqus          : True
disqus_shortname: spurwadi # replace with your disqus username

# Jekyll configuration
markdown        : kramdown
kramdown        :
  input         : GFM
  auto_ids      : true
  footnote_nr   : 1
  entity_output : as_char
  toc_levels    : 1..6
  enable_coderay: false
  footnote_backlink: '&#x21A9;&#xFE0E;'
  highlighter     : rouge
paginate        : 15 # it will paginate after this number
paginate_path   : "page:num"
language        : 'en-uk'

# Permalinks
permalink       : :title
# permalink     : :topic # Topics' info in `_data/topics.yml`
# permalink     : /author/:author # Authors' info in `_data/authors.yml`
# permalink     : /topic/:tag # Tags' info in `_data/tags.yml`

# Gemfiles and other config
plugins         : [jekyll-paginate, jekyll-feed, jekyll-mentions, jekyll-linkpreview]

feed            :
  path          : feed.xml

jekyll-mentions :
  base_url      : https://twitter.com

# HTML compress, see http://jch.penibelst.de/
compress_html   :
  clippings     : all
  comments      : all
  endings       : all
  ignore        :
    envs        : [local]
  blanklines    : False
  profile       : False
  startings     : [html, head, body]

# Settings for deploy rake task
# Settings for building master branch with travis-ci with jekyll-travis
# Username and repo of Github repo, e.g. https://github.com/USERNAME/REPO.git username defaults to ENV['GIT_NAME'] used by Travis repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io or "master" otherwise
safe            : False
lsi             : False
username        : spurwadi2 
repo            : v2
branch          : master
relative_source : ../v2/
destination     : ../.blog-build-cache/
production_url  :  https://blog.purwadi.web.id/
source_url      :  https://github.com/spurwadi2/v2/

include         : [".htaccess"]
exclude         :
                - assets/css
                - node_modules
                - vendor
                - .travis.yml
                - Gemfile
                - Gemfile.lock
                - GHOST.txt
                - gulpfile.js
                - paths.js
                - LICENSE
                - package.json
                - package-lock.json
                - Rakefile
                - README.md
                - script.py
                - changelog.md
                - "*.Rmd"
                - .git*
                - Gruntfile.js
                - .jekyll-cache # For jekyll v.4.0 update
