<!-- dynamically fixing the title for tag/author pages -->
{% if page.url %}
  {% for tag in site.data.tags %}
    {% if page.url contains "relationshit/" %}{% assign title = page.url | remove: 'tag' | remove: '/' | replace: '-', ' ' | capitalizeall %}
    {% elsif page.url contains tag[1].name %}
      {% if tag[1].title %}
        {% assign title = tag[1].title %}
      {% else %}
        {% assign title = tag[1].name | capitalizeall %}
      {% endif %}
    {% elsif page.url contains "author/" %}
      {% assign username = page.url | remove: 'author' | remove: '/' | replace: '-', ' ' | remove: ' ' %}
      {% for author in site.data.authors %}
          {% if author[1].username == username %}
              {% assign title = author[1].name %}
          {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if title %}
  {% assign title = title | append: ' - ' | append: site.title  %}
{% endif %}