<div class="floating-header">
    <a class="floating-header-logo" href="{{ site.url }}{{ site.baseurl }}">{% include icon-svg.html %}{{ page.title }}</a>
    <span class="floating-header-divider">&ndash;</span>
        {% for tag in site.data.tags %}{% if page.tags contains tag[1].name %}{% assign page_tag_title = tag[1].title %}<div class="floating-header-title">{{ page_tag_title }}</div>{% endif %}{% endfor %}
    <div class="floating-header-share">
        <div class="floating-header-share-label"><small>{% include reading-time.html %}</small></div>
        <a class="floating-header-share-tw" href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;via={% if page.author %}{% for author in site.data.authors %}{% if author[1].username == page.author %}{% if author[1].twitter %}{{ author[1].twitter }}{% else %}{{ site.twitter }}{% endif %}{% endif %}{% endfor %}{% else %}{{ site.twitter }}{% endif %}&amp;url={{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ page.url | remove_first: '/' }}&amp;related=sgitsp,artcytech"
			onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"
			data-toggle="tooltip" title="Share on Twitter" itemprop="Twitter">
            {% include twitter-svg.html %}
        </a>
        <a class="floating-header-share-fb" href="https://web.facebook.com/v3.3/dialog/share?app_id={{ site.facebook_app_id }}&display=page&href={{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ page.url | remove_first: '/' }}?source=social.fb&quote={% if page.summary %}{{ page.summary | markdownify | strip_html | url_encode }}{% elsif page.description %}{{ page.description | markdownify | strip_html | url_encode }}{% elsif excerpt %}{{ excerpt | markdownify | strip_html | url_encode }}{% else %}{{ site.description | url_encode }}{% endif %}&redirect_uri={{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ page.url | remove_first: '/' }}" data-toggle="tooltip" title="Share on Facebook" itemprop="Facebook">
            {% include facebook-svg.html %}
        </a>
        <a class="floating-header-share-wa" href="https://wa.me/?text=&#42;{{ page.title }}&#42;%0A%0A{% if page.summary %}{{ page.summary | markdownify | strip_html | url_encode }}{% elsif page.description %}{{ page.description | markdownify | strip_html | url_encode }}{% elsif excerpt %}{{ excerpt | markdownify | strip_html | url_encode }}{% else %}{{ site.description | url_encode }}{% endif %}%E2%80%A2+{{ site.url }}{{ site.baseurl }}{{ page.url | remove_first: '/' }}"
            onclick="window.open(this.href, 'share-whatsapp','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Whatsapp" itemprop="Whatsapp">
            {% include whatsapp-svg.html %}
        </a>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
