            <div class="site-footer-content inner">
                <section class="copyright"><p align="center"><a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a> v.2.1 &copy; 2009 - {{  site.time | date: '%Y' }}<br/>A fast and flexible modern static blogsite built with ❤</p></section>
                <section class="poweredby"></section>
                <nav class="site-footer-nav">
                    <a href="{{ site.baseurl }}" title="Latest post">Home</a>
                    <a href="{{site.baseurl}}about" title="About me?">About</a>
                    <a href="{{site.baseurl}}topics/" title="Explore Topics 💡">Topics💡</a>
                    <a href="ttps://feedly.com/i/subscription/feed/{{ site.url }}{{site.baseurl}}atom.xml" title="RSS Feed">Feed</a>
                    <a href="{{site.baseurl}}privacy">Privacy</a>
                    <a href="{{site.baseurl}}tos">ToS</a>
                    <a href="{{site.baseurl}}disclaimer">Disclaimer</a>
                    <a href="#top" title="Jump to top page">[^]</a>
                </nav>
            </div>