<div class="site-footer-content inner">
    <section class="copyright"><p align="center"><a href="{{ site.baseurl }}about/" title="Hello World {{ site.version }}">{{ site.title }} {{ site.version }}</a> &copy; 2009 - {{  site.time | date: '%Y' }}<br/>A fast and flexible modern static blogsite built with ❤</p></section>
    <section class="poweredby"></section>
    <nav class="site-footer-nav">
        <a href="{{ site.baseurl }}" title="Latest post" accesskey="h">Home</a>
        <a href="{{site.baseurl}}about/" title="Hello World {{ site.version }}" accesskey="a">About</a>
        <a href="{{site.baseurl}}topics/" title="Explore Topics 💡" accesskey="t">Topics💡</a>
        <a href="https://feedly.com/i/subscription/feed/{{ site.url }}{{site.baseurl}}atom.xml" title="RSS Feed">Feed</a>
        <a href="{{site.baseurl}}privacy">Privacy</a>
        <a href="{{site.baseurl}}tos">ToS</a>
        <a href="{{site.baseurl}}disclaimer">Disclaimer</a>
        <a href="#top" title="Jump to top page" accesskey="u">[^]</a>
    </nav>
    </div>