<div class="linkpreview-wrapper">
  <p><a href="{{ link_url }}" target="_blank">{{ link_url }}</a></p>
    
      <div class="linkpreview-body">
      
          <div class="linkpreview-title"><a href="{{ link_url }}" target="_blank">{{ link_title }}</a></div>
      
          <div class="linkpreview-description">{{ link_description }}</div>
      
          <div class="linkpreview-footer"><a href="{{ link_url }}" target="_blank">{{ link_domain }}</a></div>
      
      </div>
      
      <div class="linkpreview-image">
          <a href="{{ link_url }}" target="_blank"><img src="{{ link_image }}" /></a>
      </div>
  
  </div>