<figure class="bookmark-card">
    <a class="bookmark-container" href="{{ link_url }}" target="_blank">
        <div class="bookmark-content">
            <div class="bookmark-title">{{ link_title }}</div>
            <div class="bookmark-description">{{ link_description }}</div>
            <div class="bookmark-metadata">
                <!--<img class="bookmark-icon" src="https://ghost.org/icons/icon-512x512.png?v=188b8b6d743c6338ba2eab2e35bab4f5">
                <span class="bookmark-author">Link</span>-->
                <span class="bookmark-publisher">{{ link_domain }}</span>
            </div>
        </div>
            <div class="bookmark-thumbnail"><img src="{{ link_image }}"></div>
    </a>
</figure>