<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}" title="Latest post">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/" title="Hello World v2.0">About</a></li>
    <li class="nav-tags" role="menuitem"><a href="{{site.baseurl}}topics/" title="Explore Topics 💡"><strong>Topics</strong></a></li>
    <li class="nav-portfolio" role="menuitem"><a href="//medium.purwadi.web.id" title="Sigit Purwadi on Medium">Medium</a></li>
</ul>