
    <article class="post-card {{ page.next.class }}{% unless page.next.cover %} no-image{% endunless %}">
        {% if page.next.cover %}
            <a class="post-card-image-link" href="{{ site.baseurl }}{{ page.next.url | remove_first: '/' }}">
                <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{ page.next.cover }})"></div>
            </a>
        {% endif %}
        <div class="post-card-content">
            <a class="post-card-content-link" href="{{ site.baseurl }}{{ page.next.url | remove_first: '/' }}">
                <header class="post-card-header">
                <span class="post-card-tags">
                {% for content in page.next.content %}
                    {% assign readtime = content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
                        {% if readtime > 1 and readtime < 1.5 %}1 min read{% endif %}
                        {% if readtime > 1.5 %}{{ readtime | round }} min read{% endif %}
                        {% if readtime < 1 %}Less than 1 min read{% endif %}
                    {% endfor %}
                    </span>

                    <h2 class="post-card-title">{{ page.next.title }}</h2>
                </header>
                <section class="post-card-excerpt">
                    {% if page.next.summary %}
                        <p align="justify">{{ page.next.summary | truncatewords: 33, "" }}</p>
                    {% else %}
                        <p align="justify">{{ page.next.content | markdownify | strip_html | truncatewords: 33, "" }}</p>
                    {% endif %}
                </section>
            </a>
            <footer class="post-card-meta">
                {% for author in site.data.authors %}
                    {% if author[1].username == page.next.author %}
                        {% if author[1].picture %}
                        <img class="author-profile-image" src="{{ site.baseurl }}{{ author[1].picture }}" alt="{{ author[1].name }}" />
                        {% endif %}
                        <span class="post-card-author">
                            <a href="{{ site.baseurl }}author/{{ page.next.author }}/">{{ author[1].name }}</a> in
                            {% if page.next.tags.size > 0 %}
                            {% for tag in page.next.tags %}
                            {% if forloop.index == page.next.tags.size %}
                            <a href="{{ site.url }}{{ site.baseurl }}{{ tag }}">{{ tag | capitalize }}</a>
                            {% else %}
                            <a href="{{ site.url }}{{ site.baseurl }}{{ tag }}">{{ tag | capitalize }}</a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </span>
                    {% endif %}
                {% endfor %}
            </footer>
        </div>
    </article>
