<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo_white %}
                <a class="site-nav-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo_white }}" alt="{{ site.title }}" title="Latest post" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="me noopener" title="@{{ site.twitter }} on Twitter">{% include twitter-svg.html %}</a>
            {% endif %}
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="me noopener" title="Sigit Purwadi on Facebook">{% include facebook-svg.html %}</a>
            {% endif %}
            {% if site.instagram %}
                <a class="social-link social-link-ig" href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="me noopener" title="@{{ site.instagram }} on Instagram">{% include instagram-svg.html %}</a>
            {% endif %}
            <!-- {% if site.github %}
                <a class="social-link social-link-wb" href="https://github.com/{{ site.github }}" target="_blank" rel="me noopener" title="Sigit Purwadi on Github">{% include github-svg.html %}</a> -->
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="//medium.purwadi.web.id" target="_blank" title="Sigit Purwadi's Portfolio">Medium</a>
        {% endif %}
    </div>
</nav>
