.linkpreview-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "a b";
  max-width: 600px;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  margin-bottom: 12px;
}

.linkpreview-wrapper:hover {
  box-shadow: 0 0 1px rgba(39,44,49,0.10), 0 3px 16px rgba(39, 44, 49,0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0);
}

.linkpreview-wrapper p {
  display: none;
}

.linkpreview-wrapper a {
  color: #15171A;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.linkpreview-body {
  grid-area: a;
  padding: 16px 20px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: inherit;
}

.linkpreview-title {
  font-size: 1.55rem;
  font-weight: 700;
  line-height: 1.3em;
  height: 2.6em;
  width: 100%;
  white-space: pre-wrap;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkpreview-description {
  font-size: 1.35rem;
  line-height: 1.3em;
  height: 2.6em;
  color: #55666d;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.linkpreview-footer {
  margin-top: 7px;
  max-height: 40px;
  font-size: 1.3rem;
  color: #738a94;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.linkpreview-footer a {
  color: #738a94;
}

.linkpreview-image {
  grid-area: b;
}

.linkpreview-image img {
  height: 155px;
  width: 155px;
  object-fit: cover;
  overflow: hidden;
}